<%- include("partials/header"); -%>
<script>
    function showAlertFromQuery() {
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');

        if (message) {
            alert(decodeURIComponent(message));
        }
    }

    window.onload = function () {
        showAlertFromQuery();
    };
</script>
<main>
    <div class="container">
        <% if (notes.length === 0) { %>
            <p class="empty">No notes found.</p>
        <% } else { %>
            <div class="note-container">
                <% notes.forEach(function(note) { %>
                    <div class="note">
                        <div class="note-header">
                            <h2><%= note.title %></h2>
                            <div class="note-actions">
                                <a href="/edit/<%= note.title %>" class="edit-link">Edit</a>
                                <span class="divider">|</span>
                                <a href="/delete/<%= note.title %>" class="delete-link">Delete</a>
                            </div>
                        </div>
                        <p><%= note.contents %></p>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
</main>
